body {
  &:not(:has(section:target)) {
    & section:first-of-type {
      display: block;
    }
  }
}

main {
  overflow-y: auto;
  overflow-x: visible;
  padding: 0 2%;
}

section {
  display: none;

  &:target {
    display: block;
  }
}

.editorParent {
  position: relative;
  resize: vertical;
  overflow: auto;
  min-height: 200px;
  max-height: 600px;
}

#mappingJsonContainer {
  min-height: 100px;
  max-height: 300px;
}

.cm-json-error {
  content: url("https://www.svgrepo.com/show/288043/no-fire.svg");
}

#copyButton {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  right: 1em;
}

#lineColumn {
  height: 30px;
  margin-bottom: 1.5em;
}

#resultJsonContainer .cm-cursorLayer {
  animation: none !important;
}
